parameters:
  app.parameter.course.class: AppBundle\Services\CourseService

services:
  app.course:
    class: '%app.parameter.course.class%'
    arguments: ['%storage.data.path%', '%storage.data.courses%']
    calls:
      - [setTranslator, ['@translator']]